@model TMDT.Models.Company

<div class="card border-0 shadow-lg">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Name:</strong> @Model.Name</p>
                <p><strong>Address:</strong> @Model.StreetAddress</p>
                <p><strong>City:</strong> @Model.City</p>
            </div>
            <div class="col-md-6">
                <p><strong>State:</strong> @Model.State</p>
                <p><strong>Phone:</strong> @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>
