@page
@model RegisterModel

<div class="container">
    <div class="card shadow border-o mt-4">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <h2 class="py-2 text-white ">Register - ADMIN PORTAL</h2>
                    }
                    else
                    {
                        <h2 class="py-2" style=" color: #F86D72 ">Tạo Tài khoản</h2>
                    }

                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pt-3">
                <div class="col-md-12">
                    <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3 col-md-12">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="email@example.com" />
                            <label asp-for="Input.Email" class="ms-2">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.Name" class="form-control" placeholder="Nhập họ và tên" />
                            <label asp-for="Input.Name" class="ms-2">Họ và Tên</label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Nhập số điện thoại" />
                            <label asp-for="Input.PhoneNumber" class="ms-2">Số điện thoại</label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu" />
                            <label asp-for="Input.Password" class="ms-2">Mật khẩu</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nhập lại mật khẩu" />
                            <label asp-for="Input.ConfirmPassword" class="ms-2">Xác nhận mật khẩu</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.StreetAddress" class="form-control" placeholder="Nhập địa chỉ" />
                            <label asp-for="Input.StreetAddress" class="ms-2">Địa chỉ</label>
                            <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.City" class="form-control" placeholder="Nhập thành phố" />
                            <label asp-for="Input.City" class="ms-2">Thành phố</label>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.State" class="form-control" placeholder="Nhập tỉnh" />
                            <label asp-for="Input.State" class="ms-2">Tỉnh</label>
                            <span asp-validation-for="Input.State" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-6">
                            <input asp-for="Input.PostalCode" class="form-control" placeholder="Nhập mã bưu điện" />
                            <label asp-for="Input.PostalCode" class="ms-2">Mã bưu điện</label>
                            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <div class="form-floating mb-3 col-md-6">
                                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                    <option disabled selected>-Chọn vai trò-</option>
                                </select>
                            </div>
                            <div class="form-floating mb-3 col-md-6">
                                <select asp-for="Input.CompanyId" style="display: none" asp-items="@Model.Input.CompanyList" class="form-select">
                                    <option disabled selected>-Chọn công ty-</option>
                                </select>
                            </div>
                        }

                        <div class="col-12">
                            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
                        </div>
                    </form>
                </div>

                @if (!User.IsInRole(SD.Role_Admin))
                {
                    <div class="col-md-12 pb-3 text-center">
                        <section>
                            <p class="divider-text d-flex justify-content-center w-100 pt-3">Hoặc</p>
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                article
                                                about setting up this ASP.NET application to support logging in via external services
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Input_Role').change(function () { //Đây là một trình xử lý sự kiện (event handler)
                //được gắn vào phần tử có id là "Input_Role". Khi giá trị của phần tử này thay đổi
                // (ví dụ: người dùng chọn một tùy chọn khác trong một danh sách lựa chọn),
                //hàm bên trong sẽ được thực thi.
                var selection = $('#Input_Role Option:Selected').text();
                //Lấy phần tử có id là "Input_Role", sau đó tìm tùy chọn (option) đang được chọn trong phần tử đó.
                //Cuối cùng, lấy nội dung văn bản (text) của tùy chọn đó và lưu vào biến selection.
                if (selection == 'Company') {
                    $('#Input_CompanyId').show();
                }
                else {
                    $('#Input_CompanyId').hide();
                }
            })
        })
    </script>
}
